@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #1a2238;
  --secondary-color: #9daaf2;
  --tertiary-color: #ff6a3d;
  --quadrant-color: #f4db7d;
  --neutral-color: #ffffff;
}

.content {
  background-color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-tertiary {
  color: var(--tertiary-color);
}

.text-neutral {
  color: var(--neutral-color);
}

/* Headline */
.headline span {
  font-size: 50px;
}
/* Headline */

/* Form */
.box-form {
  background-color: var(--neutral-color);
  padding: 25px 50px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-submit {
  width: 100%;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: var(--neutral-color);
}

.btn-submit:hover {
  background-color: var(--neutral-color);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

form a {
  text-decoration: none;
  color: var(--tertiary-color);
}

form label {
  padding-bottom: 5px;
}

/* Form */

/* Home */
.jumbotron {
  height: 300px;
  padding: 150px 0px;
}

.home-content {
  margin-top: 150px;
}

.box-home,
.box-analysis {
  background-color: var(--neutral-color);
  padding: 25px 50px;
  border-radius: 10px;
}
/* Home */

/* Analysis */
.btn-outline-primary {
  background-color: var(--neutral-color);
  color: var(--tertiary-color);
  border: 2px solid var(--tertiary-color);
}

.btn-outline-primary:hover {
  background-color: var(--tertiary-color);
  color: var(--neutral-color);
  border: 2px solid var(--tertiary-color);
}

input[type="radio"]:checked {
  background-color: var(--tertiary-color);
  color: var(--neutral-color);
  border: 2px solid var(--tertiary-color);
}
/* Analysis */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .hide > div,
  h1,
  span {
    display: none;
  }
}
