{% extends 'base.html' %} {% block title %}Data Member{% endblock %} {% block
content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<br />
<div class="container">
  <h1 class="fw-bolder text-center text-tertiary">DATA MEMBER</h1>

  <div class="box-analysis table-responsive-sm">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">E-mail</th>
          <th scope="col">Role</th>
          <th scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        {% for user in user_database %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>
            <a
              type="button"
              class="btn btn-outline-warning"
              href="/form-update/{{ user.id }}"
            >
              Edit
            </a>
            <button
              type="button"
              class="btn btn-outline-danger"
              onClick="deleteMember({{ user.id }})"
            >
              Hapus
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br />

  <div class="box-form">
    <form method="POST" class="form-prevent">
      <h3 align="center" class="fw-bolder">TAMBAH USER</h3>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter Email"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="Enter First Name"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="role">Role</label>
        <input
          type="text"
          class="form-control"
          id="role"
          name="role"
          placeholder="Enter Role"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="password1">Password</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Enter Password"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="password2">Password (Confirm)</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Enter Password Confirm"
        />
        <br />
        <input
          class="form-check-input"
          type="checkbox"
          onclick="showPassword('password1', 'password2')"
        />&nbsp;Show Password
      </div>
      <br />
      <button type="submit" class="btn btn-submit button-prevent">
        <div class="spinner">
          <i role="status" class="spinner-border spinner-border-sm"></i>
          Loading
        </div>
        <div class="hide-text">TAMBAH</div>
      </button>
    </form>
  </div>

  <br />

  <div class="box-form">
    <h3 align="center" class="fw-bolder">VISITS IN LAST 7 DAYS</h3>
    <canvas id="myChart"></canvas>
  </div>
</div>

<script>

  const labels = ['{{tgl[-7]}}', '{{tgl[-6]}}', '{{tgl[-5]}}', '{{tgl[-4]}}', '{{tgl[-3]}}', '{{tgl[-2]}}', '{{tgl[-1]}}'];
  const data = {
    labels: labels,
    datasets: [
      {
        label: "Number of Visits per Day",
        backgroundColor: "rgb(255,106,61, 0.2)",
        borderColor: "rgb(255,106,61)",
        data: [{{visits[-7]}}, {{visits[-6]}}, {{visits[-5]}}, {{visits[-4]}}, {{visits[-3]}}, {{visits[-2]}}, {{visits[-1]}}],
        tension: 0.1
      },
    ],
  };

  const config = {
    type: "line",
    data: data,
    options: {scales: {
      xAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'Date'
        }
      }],
      yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Visits'
          },
          ticks: {
              beginAtZero: true
          }
      }]
  }},
  };

  var myChart = new Chart(document.getElementById("myChart"), config);
</script>
{% endblock %}
