{% extends 'base.html' %} {% block title %}Data Member{% endblock %} {% block
content %}
<br />
<div class="container">
  <h1 class="fw-bolder text-center text-tertiary">DATA MEMBER</h1>
  <div class="box-analysis table-responsive-sm">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">E-mail</th>
          <th scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        {% for user in user_database %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button
              type="button"
              class="btn btn-outline-danger"
              onClick="deleteMember({{ user.id }})"
            >
              Hapus
            </button>
            
              Edit
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br />

  <div class="box-form">
    <form method="POST" class="form-prevent">
      <h3 align="center" class="fw-bolder">TAMBAH USER</h3>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter Email"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="Enter First Name"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="password1">Password</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Enter Password"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="password2">Password (Confirm)</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Enter Password Confirm"
        />
        <br />
        <input
          class="form-check-input"
          type="checkbox"
          onclick="showPassword('password1', 'password2')"
        />&nbsp;Show Password
      </div>
      <br />
      <button type="submit" class="btn btn-submit button-prevent">
        <div class="spinner">
          <i role="status" class="spinner-border spinner-border-sm"></i>
          Loading
        </div>
        <div class="hide-text">TAMBAH</div>
      </button>
    </form>
  </div>
</div>

{% endblock %}
