{% extends 'base.html' %} {% block title %}Data Member{% endblock %} {% block
content %}
<br />
<div class="container">
  <h1 class="fw-bolder text-center text-tertiary">DATA MEMBER</h1>

  <br />

  <div class="box-form">
    <form method="POST" action="/form-update" class="form-prevent">
      <h3 align="center" class="fw-bolder">TAMBAH USER</h3>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter Email"
          value="{{ data.email }}"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="Enter First Name"
          value="{{ data.first_name }}"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="password1">Password</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Enter Password"
          value="{{ data.password }}"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="password2">Password (Confirm)</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Enter Password Confirm"
          value="{{ data.password }}"
        />
        <br />
        <input
          class="form-check-input"
          type="checkbox"
          onclick="showPassword('password1', 'password2')"
        />&nbsp;Show Password
      </div>
      <br />
      <button type="submit" class="btn btn-submit button-prevent">
        <div class="spinner">
          <i role="status" class="spinner-border spinner-border-sm"></i>
          Loading
        </div>
        <div class="hide-text">UPDATE</div>
      </button>
    </form>
  </div>
</div>

{% endblock %}
