{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}
<br />
<div class="container-fluid">
    
    <div class="headline jumbotron text-center">
        <h1 class="fw-bolder">
          <span class="text-secondary">We</span>
          <span class="text-neutral">Make</span>
        </h1>
        <h1 class="fw-bolder">
          <span class="text-secondary">The Better</span>
          <span class="text-tertiary">Analysis</span>
        </h1>
      </div>
    
</div>
<div class="container home-content">
    <div class="box-home">
        <h3 class="text-center fw-bolder">About Us</h3>
        <p class="text-center">Proly merupakan website analisis sentimen 
            yang dapat anda gunakan untuk mendapatkan 
            informasi sentimen positif dan negatif untuk 
            perkembangan toko online anda, sistem rekomendasi 
            bagi user yang ingin membeli produk di toko online 
            dan sistem rekomendasi bagi anda untuk meningkatkan 
            toko anda menjadi lebih baik</p>
        <h5 class="text-center fw-bolder">Keyword</h5>
        <p class="text-center">Produk produk yang dapat dianalisis untuk saat ini adalah produk dengan kategori elektronik, pakaian, dan makanan. Adapun <em>e-commerce</em> yang didukung yaitu Shopee dan Tokopedia</p>
    </div>
    <br>
    <div class="box-home">
        <h3 class="text-center fw-bolder mb-4">Our Team</h3>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-2 text-center">
                <img src="" alt="">
                <i class="fas fa-user-circle fs-1 mb-3"></i>
                <h5 class="fw-bold">Fadel Muhammad</h4>
                <p>CEO</p>
            </div>
            <div class="col-lg-2 text-center">
                <img src="" alt="">
                <i class="fas fa-user-circle fs-1 mb-3"></i>
                <h5 class="fw-bold">Ghazi Taqiyya</h4>
                <p>Data Scientist</p>
            </div>
            <div class="col-lg-2 text-center">
                <img src="" alt="">
                <i class="fas fa-user-circle fs-1 mb-3"></i>
                <h5 class="fw-bold">Dwiki Kusuma</h4>
                <p>Data Scientist</p>
            </div>
            <div class="col-lg-2 text-center">
                <img src="" alt="">
                <i class="fas fa-user-circle fs-1 mb-3"></i>
                <h5 class="fw-bold">Fauzan Kamil</h4>
                <p>Software Engineer</p>
            </div>
            <div class="col-lg-2 text-center">
                <img src="" alt="">
                <i class="fas fa-user-circle fs-1 mb-3"></i>
                <h5 class="fw-bold">Halomoan Nababan</h4>
                <p>Software Engineer</p>
            </div>
            <div class="col-lg-1"></div>
        </div>
        </div>
        <br>
    <div class="box-home">
        <h3 class="text-center fw-bolder mb-4">Contact Us</h3>
        <div class="row">
            <div class="col-md-6">
                <h5 class="fw-bold">Email</h5>
                <h6 class="mb-4">proly@team.com</h6>
                <h5 class="fw-bold">Phone</h5>
                <h6 class="mb-4">+62 888 888 888 888</h6>
                <h5 class="fw-bold">Adress</h5>
                <h6 class="mb-4">Jakarta - Indonesia</h6>
            </div>
            
            <div class="col-lg-6">
                <div class="headline text-center pt-md-5">
                    <h1 class="fw-bolder">
                      <span class="text-secondary">Do Something</span>
                    </h1>
                    <h1 class="fw-bolder">
                      <span class="text-secondary">for</span>
                      <span class="text-tertiary">Anything</span>
                    </h1>
                  </div>
            </div>
        </div>
        </div>
</div>


{% endblock %}
